* {
    text-align: center;
    color: white;
}

body {
    background-color: #323232;
    color: white;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 30px;
}

#pi {
    position: absolute;
    top: 1080px;
    left: 0px;
    color: black;
    display: block;
    width: 200px;
    height: 50px;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}

#pi:hover {
    background-color: black;
    color: white;
}
